<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <script src="https://kit.fontawesome.com/cf7295c254.js" crossorigin="anonymous"></script>
  <link href="reset.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <title>Todo</title>
</head>
<body>
<div class="wrapper">
  <div class="header">
    <input type="text" class="search" placeholder="검색 ex) 내용 , 날짜:20200101">
    <button class="more-action"> 더보기</button>
    <div class="more-action-menu">
      <div class="menu">생성일 정렬</div>
      <div class="menu">수정일 정렬</div>
      <hr>
      <div class="menu">완료목록보기</div>
      <div class="menu">완료목록숨기기</div>
      <hr>
      <div class="menu">백업</div>
      <div class="menu">복원</div>
    </div>
  </div>
  <div class="content">
    <div class="write">
      <div class="write-todo"><input type="text" placeholder="할일입력..">
        <button class="add">할일추가</button>
      </div>
      <div class="write-ref"><input type="text" placeholder="참조 Todo 아이디입력.. ex) @1@5">
<!--        <button class="cancel">취소</button>-->
      </div>
    </div>

    <div class="todo">
      <input type="checkbox" id="1" name="vehicle1" checked>
      <span data-id="1">1</span>
      <span class="complete" title="클릭하여 수정 or 삭제"> 할일~</span>
      <div class="ref-id">
        <p>@1@5</p>
      </div>
      <div class="date">
        <span>생성 : 2020.1.1</span>
        <span>수정 : 2020.1.1</span>
      </div>
    </div>

    <div class="write">
      <div class="write-todo"><input type="text" placeholder="할일입력..">
        <button class="add">할일수정</button>
      </div>
      <div class="write-ref"><input type="text" placeholder="참조 Todo 아이디입력.. ex) @1@5">
        <button class="cancel">취소</button>
        <button class="delete">삭제</button>
      </div>
    </div>

    <div class="todo">
      <input type="checkbox" id="1" name="vehicle1">
      <span data-id="1">1</span>
      <span class="" title="클릭하여 수정 or 삭제"> 할일~할일~할일~할일~할일~할일~
      할일~할일~할일~할일~할일~할일~할일~할일~할일~할일~할일~할일~할일~</span>
      <div class="ref-id">
        <p>@1@5</p>
      </div>
      <div class="date">
        <span>생성 : 2020.1.1</span>
        <span>수정 : 2020.1.1</span>
      </div>
    </div>


  </div>
</div>
<div class="pagination">
  <a href="#" title="처음으로">&laquo;</a>
  <a href="#" class="active">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#" title="마지막으로">&raquo;</a>
</div>
<div class="alert show">
  알림창~~알림창~~알림창~~알림창~~알림창~~알림창~~알림~
  알림창~~알림창~~알림창~~알림창~~알림창~~알림창~~알림~
  알림창~~알림창~~알림창~~알림창~~알림창~~알림창~~알림~!
  git 테스트
</div>
</body>
</html>
